{% load static %}
<script>
    function convertDateToISO(inputDate, year = new Date().getFullYear()) {
        // Remove the period after the month abbreviation, if any
        const cleanedDate = inputDate.replace('.', '');

        // Parse the cleaned date with the specified year
        const parsedDate = new Date(`${cleanedDate}, ${year}`);

        // Format it as YYYY-MM-DD
        const yearPart = parsedDate.getFullYear();
        const monthPart = String(parsedDate.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
        const dayPart = String(parsedDate.getDate()).padStart(2, '0');

        return `${yearPart}-${monthPart}-${dayPart}`;
    }
    // function convertToIST(input) {
    // // Parse the input date string
    //     const regex = /([A-Za-z]+\.?) (\d+), (\d+) - (\d+):(\d+) ([ap]\.m\.)/;
    //     const match = input.match(regex);
    //     if (!match) {
    //         throw new Error("Invalid date format. Please provide a valid date.");
    //     }

    //     // Extract date components
    //     const [_, month, day, year, hour, minute, period] = match;

    //     // Map abbreviated months to their indices
    //     const monthIndex = {
    //         Jan: 0, Feb: 1, Mar: 2, Apr: 3, May: 4, Jun: 5,
    //         Jul: 6, Aug: 7, Sep: 8, Oct: 9, Nov: 10, Dec: 11
    //     }[month.replace(".", "")];

    //     // Convert hour to 24-hour format
    //     let hours = parseInt(hour, 10);
    //     if (period.toLowerCase() === "p.m." && hours !== 12) {
    //         hours += 12;
    //     } else if (period.toLowerCase() === "a.m." && hours === 12) {
    //         hours = 0;
    //     }

    //     // Create a Date object
    //     const date = new Date(year, monthIndex, day, hours, minute);

    //     // Convert to IST (India Standard Time)
    //     const istDate = new Date(date.toLocaleString("en-US", { timeZone: "Asia/Kolkata" }));

    //     return istDate.toString();
    // }

    function convertToIST(input) {
    // Parse the input date string
    const regex = /([A-Za-z]+\.?) (\d+), (\d+) - (\d+)(?::(\d+))? ([ap]\.m\.)/;
    const match = input.match(regex);
    if (!match) {
        throw new Error("Invalid date format. Please provide a valid date.");
    }

    // Extract date components
    const [_, month, day, year, hour, minute = "0", period] = match;

    // Map abbreviated months to their indices
    const monthIndex = {
        Jan: 0, Feb: 1, Mar: 2, Apr: 3, May: 4, Jun: 5,
        Jul: 6, Aug: 7, Sep: 8, Oct: 9, Nov: 10, Dec: 11
    }[month.replace(".", "")];

    // Convert hour to 24-hour format
    let hours = parseInt(hour, 10);
    if (period.toLowerCase() === "p.m." && hours !== 12) {
        hours += 12;
    } else if (period.toLowerCase() === "a.m." && hours === 12) {
        hours = 0;
    }

    // Create a Date object
    const date = new Date(year, monthIndex, day, hours, parseInt(minute, 10));

    // Convert to IST (India Standard Time)
    const istDate = new Date(date.toLocaleString("en-US", { timeZone: "Asia/Kolkata" }));

    return istDate.toString();
}

    // Example usage:
    const inputDate = "Nov. 23, 2024 - 10:55 p.m.";
    // console.log("-->");
    // console.log(convertToIST(inputDate));

    function timeDifferenceFromNow(inputDate, end_inputDate) {
        const currentDate = new Date();
        const parsedDate = new Date(inputDate);
        // console.log("->")
        const end_parsedDate = new Date(end_inputDate);
        // console.log("-->")

        // Calculate the difference in milliseconds
        const differenceInMilliseconds = parsedDate - currentDate;
        const end_differenceInMilliseconds = end_parsedDate - currentDate;

        // If the date is in the past
        // console.log("--->")
        // if (differenceInMilliseconds < 0) {
        //                 // return (differenceInMilliseconds)
        //     if (end_differenceInMilliseconds < 0) {
        //         return "EXPIRED";
        //     }
        // }

            if (end_differenceInMilliseconds < 0) {
                return "EXPIRED";
            }

        // Format the date as "Nov. 23,"
        const options = { month: 'short', day: 'numeric' };
        const formattedDate = parsedDate.toLocaleDateString('en-US', options).replace('.', '');

        // Convert milliseconds to days
        const differenceInDays = Math.ceil(differenceInMilliseconds / (1000 * 60 * 60 * 24));

        // Calculate weeks and months approximately
        const differenceInWeeks = Math.ceil(differenceInDays / 7);
        const differenceInMonths = Math.ceil(differenceInDays / 30);

        if (differenceInDays <= 0) {
            // return `${formattedDate} is 1 day later`;
            return `<div class="main-live-button" style="width: fit-content;"><span>Live</span></div>`;
        } else if (differenceInDays === 1) {
            // return `${formattedDate} is 1 day later`;
            return `1 day later`;
        } else if (differenceInDays < 7) {
            // return `${formattedDate} is ${differenceInDays} days later`;
            return `${differenceInDays} days later`;
        } else if (differenceInWeeks === 1) {
            // return `${formattedDate} is 1 week later`;
            return `1 week later`;
        } else if (differenceInWeeks < 4) {
            // return `${formattedDate} is ${differenceInWeeks} weeks later`;
            return `${differenceInWeeks} weeks later`;
        } else if (differenceInMonths === 1) {
            // return `${formattedDate} is 1 month later`;
            return `1 month later`;
        } else {
            // return `${formattedDate} is ${differenceInMonths} months later`;
            return `${differenceInMonths} months later`;
        }
    }

    let dates_field = document.getElementsByClassName("datetime")

    
    Array.prototype.forEach.call(dates_field, function (date) {
        event_date = (date.innerHTML.split('<i class="fa fa-clock-o"></i> ')[1].split('<p ')[0].split('<div ')[0])
        let end_dates_field = date.getElementsByTagName("p")[0]
        end_event_date = (end_dates_field.innerHTML)
        
        console.log(event_date)
        console.log(convertToIST(event_date))
        console.log(end_event_date)
        console.log(convertToIST(end_event_date))
        date.innerHTML += "<br>"+timeDifferenceFromNow(convertToIST(event_date),convertToIST(end_event_date))
    });



</script>


<script>
    let close = document.getElementById("close_canva");
    let canva = document.getElementById("canva");
    


    let media_close = document.getElementById("close_media_canva");
    let media_canva = document.getElementById("media_canva");
    let canva_thumb = document.getElementById("canva_thumb");
    let media_cont_span = document.getElementById("media_cont_span");
    let media_cont_p = document.getElementById("media_cont_p");
    let dump;

    close.addEventListener("click", function () {
        canva.style.display = "none";
        try {
            let canva_frame_cal = document.getElementsByClassName("canva_frame")[0];
            canva_frame_cal.innerHTML = '<img id="canva_frame" src="#" width="100%" alt="">';
        } catch (error) {
            
        }
    });

    let seating = document.getElementsByClassName("sitting_plan");
    Array.prototype.forEach.call(seating, function (seat) {
        seat.addEventListener('click', function () {
            let img_url = (seat.getElementsByTagName("div")[0].getElementsByTagName("img")[0]);
            canva.style.display = "flex";
            canva_frame.src = img_url.getAttribute("src");

        })
    });

    let schedulei = document.getElementsByClassName("schedule_plan");
    Array.prototype.forEach.call(schedulei, function (seat) {
        seat.addEventListener('click', function () {
            let img_url = (seat.getElementsByTagName("div")[0].getElementsByTagName("img")[0]);
            canva.style.display = "flex";
            canva_frame.src = img_url.getAttribute("src");

        })
    });

    // let sitting = document.getElementById("sitting_plan")
    // let sitting_image = document.getElementById("sitting_image")
    // // console.log(sitting_image.getAttribute("src"))
    // sitting.addEventListener('click', function (parameters) {
    //     let canva_frame = document.getElementById("canva_frame");
    //     console.log(sitting_image.getAttribute("src"))
    //     canva.style.display = "flex";
    //     canva_frame.src = sitting_image.getAttribute("src");
    // })

    // let schedule = document.getElementById("schedule_plan")
    // let schedule_image = document.getElementById("schedule_image")
    // // console.log(schedule_image.getAttribute("src"))
    // schedule.addEventListener('click', function (parameters) {
    //     let canva_frame = document.getElementById("canva_frame");
    //     console.log(schedule_image.getAttribute("src"))
    //     canva.style.display = "flex";
    //     canva_frame.src = schedule_image.getAttribute("src");
    // })



    media_close.addEventListener("click", function () {
        media_canva.style.display = "none";
        dump.appendChild(canva_thumb.getElementsByClassName("icons")[0])

        try {
            
            let element = document.getElementById("media_img")
            element.remove()
        } catch (error) {
            let element = document.getElementById("media_video")
            element.remove()
        }
    });

    let media_grid = document.getElementsByClassName("media_grid")[0]
    let media_item = media_grid.getElementsByClassName("like-item")

    
    Array.prototype.forEach.call(media_item, function (el) {
        el.addEventListener('click', function () {
            media_canva.style.display = "flex";
            let thumb = el.getElementsByClassName("thumb")[0]
            let content = el.getElementsByClassName("down-content")[0]
            try {
                let element = thumb.getElementsByTagName("img")[0]
                canva_thumb.innerHTML += '<img src="' + thumb.getElementsByTagName("img")[0].getAttribute("src") + '" id = "media_img" alt="Comment image">'
            } catch (error) {
                canva_thumb.innerHTML += '<video style="height: 64vh;width: 100vw;" src="' + thumb.getElementsByTagName("video")[0].getAttribute("src") + '" id = "media_video" controls alt="Comment video">'

            }
            // try {
            //     let element = thumb.getElementsByTagName("img")[0]
            //     canva_thumb.innerHTML += '<img style="height: 64vh;width: 100vw;" src="' + thumb.getElementsByTagName("img")[0].getAttribute("src") + '" id = "media_img" alt="Comment image">'
            // } catch (error) {
            //     canva_thumb.innerHTML += '<video style="height: 64vh;width: 100vw;" src="' + thumb.getElementsByTagName("video")[0].getAttribute("src") + '" id = "media_video" controls alt="Comment video">'

            // }

            console.log(content.getElementsByTagName("span")[0].innerHTML)
            media_cont_span.innerHTML = content.getElementsByTagName("span")[0].innerHTML
            media_cont_p.innerHTML = content.getElementsByTagName("p")[0].innerHTML
            
            dump = thumb;
            thumb.getElementsByClassName("icons")[0].style.display = "flex"
            canva_thumb.appendChild(thumb.getElementsByClassName("icons")[0])

        })
    });

    // let sitting = document.getElementById("sitting_plan")
    // let sitting_image = document.getElementById("sitting_image")
    // // console.log(sitting_image.getAttribute("src"))
    // sitting.addEventListener('click', function (parameters) {
    //     let canva_frame = document.getElementById("canva_frame");
    //     console.log(sitting_image.getAttribute("src"))
    //     canva.style.display = "flex";
    //     canva_frame.src = sitting_image.getAttribute("src");
    // })

    // let schedule = document.getElementById("schedule_plan")
    // let schedule_image = document.getElementById("schedule_image")
    // // console.log(schedule_image.getAttribute("src"))
    // schedule.addEventListener('click', function (parameters) {
    //     let canva_frame = document.getElementById("canva_frame");
    //     console.log(schedule_image.getAttribute("src"))
    //     canva.style.display = "flex";
    //     canva_frame.src = schedule_image.getAttribute("src");
    // })



    // media_close.addEventListener("click", function () {
    //     media_canva.style.display = "none";
    //     dump.appendChild(canva_thumb.getElementsByClassName("icons")[0])

    //     try {
            
    //         let element = document.getElementById("media_img")
    //         element.remove()
    //     } catch (error) {
    //         let element = document.getElementById("media_video")
    //         element.remove()
    //     }
    // });

    // let media_grid = document.getElementsByClassName("media_grid")[0]
    // let media_item = media_grid.getElementsByClassName("like-item")

    
    // Array.prototype.forEach.call(media_item, function (el) {
    //     el.addEventListener('click', function () {
    //         media_canva.style.display = "flex";
    //         let thumb = el.getElementsByClassName("thumb")[0]
    //         let content = el.getElementsByClassName("down-content")[0]
    //         try {
    //             let element = thumb.getElementsByTagName("img")[0]
    //             canva_thumb.innerHTML += '<img src="' + thumb.getElementsByTagName("img")[0].getAttribute("src") + '" id = "media_img" alt="Comment image">'
    //         } catch (error) {
    //             canva_thumb.innerHTML += '<video src="' + thumb.getElementsByTagName("video")[0].getAttribute("src") + '" id = "media_video" controls alt="Comment video">'

    //         }

    //         console.log(content.getElementsByTagName("span")[0].innerHTML)
    //         media_cont_span.innerHTML = content.getElementsByTagName("span")[0].innerHTML
    //         media_cont_p.innerHTML = content.getElementsByTagName("p")[0].innerHTML
            
    //         dump = thumb;
    //         thumb.getElementsByClassName("icons")[0].style.display = "flex"
    //         canva_thumb.appendChild(thumb.getElementsByClassName("icons")[0])

    //     })
    // });

</script>
<script>
    let dash_events = document.getElementsByClassName("dash_events");
    let dash_iframe = document.getElementById("dash_iframe");
    Array.prototype.forEach.call(dash_events, function (el) {
        el.addEventListener('click', function () {
            dash_iframe.src = "/event/"+el.getElementsByTagName("div")[0].innerHTML
            console.log(el.getElementsByTagName("div")[0].innerHTML)
            console.log(el.getElementsByTagName("div")[0].innerHTML)
        })
    })
</script>

<script>
    const locationInput = document.getElementById("locationInput");
    const suggestionsBox = document.getElementById("suggestions");
    const dropdownMenu = document.getElementById("dropdownMenu");
    const dropdownToggle = document.getElementById("dropdownToggle");

    locationInput.addEventListener("input", async () => {
        const query = locationInput.value.trim();

        if (query.length < 2) {
            suggestionsBox.innerHTML = ""; // Clear suggestions for short queries
            return;
        }

        const response = await fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${query}`);
        const results = await response.json();

        suggestionsBox.innerHTML = ""; // Clear previous suggestions
        results.slice(0, 5).forEach(result => {
            const suggestionDiv = document.createElement("div");
            suggestionDiv.textContent = result.display_name;
            suggestionDiv.addEventListener("click", () => {
                locationInput.value = result.display_name;
                suggestionsBox.innerHTML = ""; // Clear suggestions
            });
            suggestionsBox.appendChild(suggestionDiv);
        });
    });



</script>
<script>
    // const dropdownToggle = document.getElementById('dropdownToggle');
const dropdownContainer = document.querySelector('.dropdown-container');

// Toggle dropdown menu
dropdownToggle.addEventListener('click', () => {
    dropdownContainer.classList.toggle('active');
});

// Close dropdown when clicking outside
window.addEventListener('click', (e) => {
    if (!dropdownContainer.contains(e.target)) {
        dropdownContainer.classList.remove('active');
    }
});
</script>
<!-- jQuery -->
<script src="{% static 'EMS/js/main_js.js' %}"></script>
<script src="{% static 'EMS/js/jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'EMS/js/popper.js' %}"></script>
<script src="{% static 'EMS/js/bootstrap.min.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'EMS/js/scrollreveal.min.js' %}"></script>
<script src="{% static 'EMS/js/waypoints.min.js' %}"></script>
<script src="{% static 'EMS/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'EMS/js/imgfix.min.js' %}"></script>
<script src="{% static 'EMS/js/mixitup.js' %}"></script>
<script src="{% static 'EMS/js/accordions.js' %}"></script>
<script src="{% static 'EMS/js/owl-carousel.js' %}"></script>

<!-- Global Init -->
<script src="{% static 'EMS/js/custom.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>