{% extends 'base/base.html' %}
{% block title %}Home{% endblock title %}
{% block link %}
<style>
    .venue-tickets {
    margin: 0px 15px;
    max-height: 917px;
    overflow: hidden;
}
</style>
{% endblock %}
{% load custom_filters %}
{% block content %}
<!-- ***** About Us Page ***** -->
<div class="page-heading-shows-events">
    <div class="container" style="background: rgb(247 247 247 / 10%);backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(10px);border-radius: 10px;display: flex;align-items: center;justify-content: center;overflow: hidden;padding: 10px;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Shows & Events</h2>
                <span>Check out upcoming and past shows & events.</span>
            </div>
        </div>
    </div>
</div>


<!-- *** Venues & Tickets ***-->
<div class="venue-tickets" >
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Popular Public events</h2>
                </div>
            </div>

            {% for event in events %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>


<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>This Weekend</h2>
                </div>
            </div>

            {% for event in weekend_events %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>

<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <form action="{% url 'search_by_category' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" type="hidden"
                                value="music" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button style="background: transparent;border: none;outline: none; text-decoration: underline;" type="submit">
                                    <h2>Musical Events</h2>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            {% for event in events %}
            {% if event.art_category == 'music' %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>

<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <form action="{% url 'search_by_category' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" type="hidden"
                                value="nightlife" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button style="background: transparent;border: none;outline: none; text-decoration: underline;" type="submit">
                                    <h2>Nightlife Events</h2>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            {% for event in events %}
            {% if event.art_category == 'nightlife' %}

            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>



<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <form action="{% url 'search_by_category' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" type="hidden"
                                value="performingVisualArts" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button style="background: transparent;border: none;outline: none; text-decoration: underline;" type="submit">
                                    <h2>Performing & Visual Arts Events</h2>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            {% for event in events %}
            {% if event.art_category == 'performingVisualArts' %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>



<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <form action="{% url 'search_by_category' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" type="hidden"
                                value="holidays" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button style="background: transparent;border: none;outline: none; text-decoration: underline;" type="submit">
                                    <h2>Holidays Events</h2>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            {% for event in events %}
            {% if event.art_category == 'holidays' %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>



<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <form action="{% url 'search_by_category' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" type="hidden"
                                value="dating" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button style="background: transparent;border: none;outline: none; text-decoration: underline;" type="submit">
                                    <h2>Dating Events</h2>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            {% for event in events %}
            {% if event.art_category == 'dating' %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>
<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <form action="{% url 'search_by_category' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" type="hidden"
                                value="hobbies" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button style="background: transparent;border: none;outline: none; text-decoration: underline;" type="submit">
                                    <h2>Hobbies Events</h2>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            {% for event in events %}
            {% if event.art_category == 'hobbies' %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>
<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <form action="{% url 'search_by_category' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" type="hidden"
                                value="business" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button style="background: transparent;border: none;outline: none; text-decoration: underline;" type="submit">
                                    <h2>Business Events</h2>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            {% for event in events %}
            {% if event.art_category == 'business' %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>
<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <form action="{% url 'search_by_category' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" name="search" type="hidden"
                                value="foodDrink" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button style="background: transparent;border: none;outline: none; text-decoration: underline;" type="submit">
                                    <h2>Food & Drink Events</h2>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            {% for event in events %}
            {% if event.art_category == 'foodDrink' %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 10px; overflow: hidden;">
                    <div class="thumb" style="border-radius: 5px; overflow: hidden;">
                        <img src="{{ event.image.url }}" alt="" height="200px">
                    </div>
                    <!-- <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;"> -->
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <!-- <div class="main-live-button" ><span>Live</span></div> -->
                            <ul>
                                <li class="datetime"><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}} </li>
                                <li><i class="fa fa-map-marker"></i>{{event.place_info}}</li>
                            </ul>
                            <!-- <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;"> -->
                            <div class="main-white-button" style="margin: 20px 0;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}" class="login_btn">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>

<!-- <div class="shows-events-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="tabs">
                    <div class="col-lg-12">
                        <div class="heading-tabs">
                            <div class="row">
                                <div class="col-lg-8">
                                    <ul>
                                        <li><a href='#tabs-1'>Upcoming</a></li>
                                        <li><a href='#tabs-2'>Private Events</a></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <section class='tabs-content'>
                            <article id='tabs-1'>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="heading">
                                            <h2>Upcoming</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="sidebar" style="border-radius: 20px;display: none;">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-sidebar">
                                                        <h4>Sort The Upcoming Shows & Events By:</h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="month">
                                                        <h6>Month</h6>
                                                        <ul>
                                                            <li><a href="#">July</a></li>
                                                            <li><a href="#">August</a></li>
                                                            <li><a href="#">September</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="category">
                                                        <h6>Category</h6>
                                                        <ul>
                                                            <li><a href="#">Pop Music</a></li>
                                                            <li><a href="#">Rock Music</a></li>
                                                            <li><a href="#">Hip Hop Music</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="venues">
                                                        <h6>Venues</h6>
                                                        <ul>
                                                            <li><a href="#">Radio City Musical Hall</a></li>
                                                            <li><a href="#">Madison Square Garden</a></li>
                                                            <li><a href="#">Royce Hall</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            {% for event in events %}
            {% if event.art_category == 'music' %}
                                            <div class="col-lg-12">
                                                <div class="event-item" style="border-radius: 20px;">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="left-content">
                                                                <h4>{{event.name|name_shorter}}</h4>
                                                                
                                                                <p>{{event.description|desc_shorter}}</p>
                                                                <div class="main-dark-button">
                                                                    <a style="border-radius: 10px;"
                                                                        href="{% url 'event_detail' event.id %}">Event
                                                                        Details</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="thumb"
                                                                style="border-radius: 10px;overflow: hidden;">
                                                                <img src="{{ event.image.url }}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="right-content">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa fa-clock-o"></i>
                                                                        <h6 class="datetime">{{event.start_date}} - {{event.start_time}}
                                                                            <br>{{event.end_date}} -
                                                                            {{event.end_time}}
                                                                        </h6>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span>{{event.venue}}</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
            {% endfor %}
                                            <div class="col-lg-12">
                                                <div class="pagination">
                                                    <ul>
                                                        {% if events.has_previous %}
                                                        <li><a href="?page=1">&laquo; first</a></li>
                                                        <li><a href="?page={{ events.previous_page_number }}">previous</li>
                                                        {% endif %}

                                                        <li class="active" ><a href="#"><span>Page {{ events.number }} of {{ events.paginator.num_pages }}</span></a></li>
                                                        
                                                        {% if events.has_next %}
                                                        <li ><a href="?page={{ events.next_page_number }}">next</a></li>
                                                        <li><a href="?page={{ events.paginator.num_pages }}">last &raquo;</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id='tabs-2'>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="heading">
                                            <h2>Upcoming</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="sidebar" style="border-radius: 20px;display: none;">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-sidebar">
                                                        <h4>Sort The Upcoming Shows & Events By:</h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="month">
                                                        <h6>Month</h6>
                                                        <ul>
                                                            <li><a href="#">July</a></li>
                                                            <li><a href="#">August</a></li>
                                                            <li><a href="#">September</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="category">
                                                        <h6>Category</h6>
                                                        <ul>
                                                            <li><a href="#">Pop Music</a></li>
                                                            <li><a href="#">Rock Music</a></li>
                                                            <li><a href="#">Hip Hop Music</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="venues">
                                                        <h6>Venues</h6>
                                                        <ul>
                                                            <li><a href="#">Radio City Musical Hall</a></li>
                                                            <li><a href="#">Madison Square Garden</a></li>
                                                            <li><a href="#">Royce Hall</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="subscribe" style="border-radius: 20px;">
                                                    <div class="container">
                                                        <div class="row" style="flex-direction: column">
                                                            <div class="col-lg-4">
                                                                <h4>Find The Private Events : </h4>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <form id="subscribe"
                                                                    action="{% url 'search_private_event' %}"
                                                                    method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="row">
                                                                        <div class="col-lg-9">
                                                                            <fieldset>
                                                                                <input id="email" name="search"
                                                                                    type="search" placeholder="Search"
                                                                                    aria-label="Search">
                                                                            </fieldset>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <fieldset>
                                                                                <button type="submit" id="form-submit"
                                                                                    class="main-dark-button" style="border-radius: 20px;">Search</button>
                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<style>
    .main-live-button{
        /* display: inline-block; */
        font-size: 14px;
        padding: 3px 9px;
        background-color: red;
        color: #2a2a2a;
        text-align: center;
        font-weight: 500;
        text-transform: capitalize;
        transition: all .3s;
        border-radius: 5px;
    }
    .main-live-button>span{
        color: white;
    }
</style>

<script>

    let datetime = document.getElementsByClassName("datetime");

    Array.prototype.forEach.call(datetime, function(data){
        let sdatetime = (data.innerHTML.split('<br>')[0].split('\n')[0].split("-"))
        // let sdatetime = (data.innerHTML.split('<i class="fa fa-clock-o"></i>')[1].split('<span')[0].split("-"))

        // const targetDate = new Date(sdatetime[0]+sdatetime[1]);
        targetDateString = (sdatetime[0]+sdatetime[1]).replace("  ", " ").replace("p.m.","PM").replace("a.m.","AM")
        const targetDate = new Date(targetDateString);

        // Get the current date and time
        const currentDate = new Date();

        if (currentDate >= targetDate) {
            console.log("The date and time have been reached.");
            data.innerHTML += '<div class="main-live-button" style="margin: 20px 0;position: absolute;top: -1px;right: 44px;"><span>Live</span></div>'
        } else {
            console.log("The date and time have not been reached yet.");
        }
    })

</script>
{% endblock content %}