{% extends 'base/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

{{form.errors}}

<div class="rent-venue-application">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-text">
                    <h4>Create Event</h4>
                </div>
            </div>
            <div class="contact-form">
                <form id="contact" method="post" enctype="multipart/form-data">
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12">
                            <fieldset>
                                <label for="{{ form.name.id_for_label }}"> Event name </label>
                                {{ form.name }}
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <label for="{{ form.art_category.id_for_label }}"> {{ form.art_category.label }} (Select
                                    the Event related) </label>
                                {{ form.art_category }}
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <label for="{{ form.category.id_for_label }}"> {{ form.category.label }}
                                    (Public/private) </label>
                                {{ form.category }}
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <fieldset>
                                <label for="{{ form.place_info.id_for_label }}"> Location </label>
                                {{ form.place_info}}
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <label for="{{ form.start_date.id_for_label }}"> {{ form.start_date.label }} </label>
                                {{ form.start_date}}
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <label for="{{ form.end_date.id_for_label }}"> {{ form.end_date.label }} </label>
                                {{ form.end_date}}
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <label for="{{ form.start_time.id_for_label }}"> {{ form.start_time.label }} </label>
                                {{ form.start_time}}
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <label for="{{ form.end_time.id_for_label }}"> {{ form.end_time.label }} </label>
                                {{ form.end_time}}
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="{{ form.description.id_for_label }}">Description</label>

                                {{ form.description }}
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="{{ form.link.id_for_label }}">Link</label>

                                {{ form.link }}
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="{{ form.instructions.id_for_label }}">Instructions</label>

                                {{ form.instructions }}
                            </fieldset>
                        </div>
                        {% if active_page == 'update'%}
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="images">Upload Images (Multiple):</label>
                                <input type="file" name="image" multiple>
                            </fieldset>
                        </div>
                        {% else %}
                        <div class="col-lg-12">
                            <fieldset>
                                <label for="images">Upload Images (Multiple):</label>
                                <input type="file" name="image" multiple required>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- <div class="col-lg-12">
                            <fieldset>
                                <label for="{{ form.image.id_for_label }}"> {{ form.image.label }} </label>
                                {{ form.image }}
                            </fieldset>
                        </div> -->



                        <!-- <div class="col-md-6 col-sm-12">
                            <fieldset>
                                {{ form.venue}}
                            </fieldset>
                        </div> -->





                        <div class="col-lg-12">
                            <fieldset>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <label for="sitting_plans">Upload Seating Plan (Multiple):</label>
                                        <input type="file" name="sitting_plan" multiple>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <label for="schedule_plans">Upload Schedule Plan (Multiple):</label>
                                        <input type="file" name="schedule_plan" multiple>
                                    </fieldset>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-12">
                            <fieldset>
                                <label for="{{ form.hashTags.id_for_label }}"> hashTags </label>

                                {{ form.hashTags }}
                            </fieldset>
                        </div>
                        <div class="col-md-10 col-sm-12" style="display: none;">
                            <fieldset>
                                <label for="{{ form.geast_list.id_for_label }}"> Guests lists </label>

                                {{ form.geast_list }}
                            </fieldset>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display: none;">
                            <fieldset>
                                <a href="#id_geast_list" id="email_btn" class="main-dark-button">Add</a>
                            </fieldset>
                        </div>
                        <div class="col-md-1 col-sm-12" style="display: none;">
                            <fieldset>
                                <a href="#id_geast_list" id="final_btn" class="main-dark-button">Final</a>
                            </fieldset>
                        </div>
                        <div class="col-lg-12" style="display: none;">
                            <ul id="email_list">

                            </ul>
                        </div>
                        <div id="sponsor-section" class="col-sm-12">
                            <h4>Sponsors Tier 1</h4>
                            <div class="sponsor-group">
                                <input type="url" name="sponsor_link" placeholder="Sponsor Link">
                                <input type="file" name="sponsor_logo" accept="image/*">
                            </div>
                            <div class="sponsor-group_fill">
                            </div>
                            <button type="button" id="add-sponsor-btn" class="main-dark-button" >Add Another Sponsor</button>
                        </div>
                        <div id="sponsor1-section" class="col-sm-12" >
                            <h4>Sponsors Tier 2</h4>
                            <div class="sponsor1-group">
                                <input type="file" name="sponsor1_logo" accept="image/*">
                            </div>
                            <div class="sponsor-group_fill1">
                            </div>
                            <button type="button" id="add-sponsor1-btn" class="main-dark-button" >Add Another Sponsor</button>
                        </div>
                        <div id="sponsor2-section" class="col-sm-12" >
                            <h4>Sponsors Tier 3</h4>
                            <div class="sponsor2-group">
                                <input type="text" name="sponsor2_name" placeholder="Sponsor Name">
                            </div>
                            <div class="sponsor-group_fill2">
                            </div>
                            <button type="button" id="add-sponsor2-btn" class="main-dark-button" >Add Another Sponsor</button>
                        </div>
                        <div id="detail-section" class="col-sm-12">
                            <h4>Event Details</h4>
                            <div class="detail-group">
                                <input type="text" name="detail_title" placeholder="Detail Title">
                                <textarea name="detail_description" placeholder="Detail Description"></textarea>
                            </div>
                            <button type="button" class="main-dark-button" id="add-detail-btn">Add Another Detail</button>
                            <br>
                        </div>
                        <!-- Guest List Section -->
                        <div class="guest-form col-sm-12">
                            <br>
                            <h4>Guest List</h4>

                            <!-- Select All Checkbox -->
                            
                            <br>

                            <div id="guest-fields">
                                <div class="guest-field" style="display: flex;justify-content: space-around;">
                                    <input class="col-md-3 col-sm-12" type="text" name="guest_name" placeholder="Guest Name">
                                    <input class="col-md-3 col-sm-12" type="email" name="guest_email" placeholder="Guest Email">
                                    <input class="col-md-3 col-sm-12" type="checkbox" name="guest_is_confirmed" value="True"> Confirmed
                                </div>
                            </div>
                            <div id="sel_check_All">
                                <p>Select All Guests</p>
                                <input type="checkbox" id="select-all" onclick="toggleAllGuests()"> 

                            </div>
                            
                            <button type="button" class="main-dark-button" onclick="addGuest()">Add Guest</button>
                            <br>
                        </div>

                        <!-- <div class="guest-form" class="col-sm-12">
                            <h4>Guest List</h4>

                            
                            <input type="checkbox" id="select-all" onclick="toggleAllGuests()"> Select All Guests
                            <br><br>

                            <div id="guest-fields">
                                <div class="guest-field">
                                    <input type="text" name="guest_name" placeholder="Guest Name">
                                    <input type="email" name="guest_email" placeholder="Guest Email">
                                    <input type="checkbox" name="guest_is_confirmed" value="True"> Confirmed
                                </div>
                            </div>

                            <button type="button" onclick="addGuest()">Add Guest</button>
                        </div> -->
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <br>
                                <label for="{{ form.saving_mode.id_for_label }}"> {{ form.saving_mode.label }}
                                    (Publish/Draft) </label>
                                {{ form.saving_mode }}
                            </fieldset>
                        </div>

                        <div class="col-lg-12">
                            <fieldset>
                                <br><br>
                                <button type="submit" id="form-submit" class="main-dark-button">Save</button>
                            </fieldset>
                        </div>
                        <!-- {{ form.as_p }} -->
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script>


    document.getElementById("email_btn").addEventListener('click', function () {

        document.getElementById("email_list").innerHTML += '<li>' + document.getElementById("id_geast_list").value + ' </li>'
        document.getElementById("id_geast_list").value = ""
    })

    let email_list = [];
    document.getElementById("final_btn").addEventListener('click', function () {


        let emails = document.getElementById("email_list").getElementsByTagName("li")
        console.log(emails)

        Array.from(emails).forEach(email => {
            email_list.push(email.textContent);
        });

        document.getElementById("id_geast_list").value = email_list
        document.getElementById("email_list").innerHTML = ''

    })

    document.addEventListener("DOMContentLoaded", function () {
        const startDateInput = document.getElementById("id_start_date");
        const endDateInput = document.getElementById("id_end_date");

        // When the start date changes, update the minimum end date
        startDateInput.addEventListener("change", function () {
            const startDate = startDateInput.value;

            // If a start date is selected, set it as the minimum for the end date
            if (startDate) {
                endDateInput.min = startDate;
            } else {
                // Reset the min if no start date is selected
                endDateInput.min = '';
            }
        });
    });

    document.getElementById('add-sponsor-btn').addEventListener('click', function () {
        const sponsorGroup = document.querySelector('.sponsor-group').cloneNode(true);
        document.querySelector('.sponsor-group_fill').appendChild(sponsorGroup);
    });

    document.getElementById('add-sponsor1-btn').addEventListener('click', function () {
        const sponsor1Group = document.querySelector('.sponsor1-group').cloneNode(true);
        document.querySelector('.sponsor-group_fill1').appendChild(sponsor1Group);
    });

    document.getElementById('add-sponsor2-btn').addEventListener('click', function () {
        const sponsor2Group = document.querySelector('.sponsor2-group').cloneNode(true);
        document.querySelector('.sponsor-group_fill2').appendChild(sponsor2Group);
    });

    document.getElementById('add-detail-btn').addEventListener('click', function () {
        const detailGroup = document.querySelector('.detail-group').cloneNode(true);
        // document.getElementById('detail-section').appendChild(detailGroup);
        document.querySelector('.detail-group').appendChild(detailGroup);
    });

    function addGuest() {
        const guestFields = document.getElementById("guest-fields");
        const newGuest = document.createElement("div");
        newGuest.classList.add("guest-field");
        newGuest.style.display = "flex";
        newGuest.style.justifyContent = "space-around";
        newGuest.innerHTML = `
            <input class="col-md-3 col-sm-12" type="text" name="guest_name" placeholder="Guest Name">
            <input class="col-md-3 col-sm-12" type="email" name="guest_email" placeholder="Guest Email">
            <input class="col-md-3 col-sm-12" type="checkbox" name="guest_is_confirmed" value="True"> Confirmed
        `;
        guestFields.appendChild(newGuest);
    }

    // JavaScript to toggle all guest checkboxes
    function toggleAllGuests() {
        const isChecked = document.getElementById("select-all").checked;
        const guestCheckboxes = document.querySelectorAll('input[name="guest_is_confirmed"]');
        guestCheckboxes.forEach((checkbox) => {
            checkbox.checked = isChecked;
        });
    }
</script>

{% endblock content %}