{% extends 'base/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

{% if message %}
<div class="alert alert-{{status}} mb-0" role="alert" id="alert-message">
    {{ message }}
</div>
{% endif %}
<div class="page-heading-rent-venue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Welcome {{user.username}}!</h2>
                <span>On Event DashBoard</span>
            </div>
        </div>
    </div>
</div>

<div class="shows-events-tabs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="tabs">
                    <div class="col-lg-12">
                        <div class="heading-tabs">
                            <div class="row">
                                <div class="col-lg-8">
                                    <ul>
                                        <li><a href='#tabs-1'>Events</a></li>
                                        <li><a href='#tabs-2'>Comments</a></a></li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <section class='tabs-content mt-0'>
                            <article id='tabs-1'>
                                <div class="shows-events-schedule">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="section-heading">
                                                    <h2>Event Listing</h2>
                                                </div>
                                            </div>
                                            <div class="col-lg-12" >
                                                <ul>
                                                    {% for event in events %}
                                                    <li class="col-lg-12" style="border-radius: 20px;">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="title">
                                                                    <h4>{{event.name}}</h4>
                                                                    <span>{{event.category}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="time"><span style="width: 230px;"><i class="fa fa-clock-o"></i>
                                                                        {{event.start_date}} - {{event.end_date}}<br>{{event.start_time}} -
                                                                        {{event.end_time}}</span></div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <div class="place"><span style="width: 230px;"><i
                                                                            class="fa fa-map-marker"></i>{{event.venue}} <br>{{event.place_info}}
                                                                    </span></div>
                                                            </div>
                                                            <!-- <a href="{% url 'event_update' event.pk %}">Edit</a>
                                                            <a href="{% url 'event_delete' event.pk %}">Delete</a> -->
                                                            <div class="col-lg-1">
                                                                <div class="main-dark-button">
                                                                    <a style="color: white;border-radius: 10px;padding: 12px 4px;" href="{% url 'event_detail' event.id %}">View</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-1">
                                                                <div class="main-dark-button">
                                                                    <a style="color: white;border-radius: 10px;" href="{% url 'event_update' event.pk %}">Edit</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-1">
                                                                <div class="main-dark-button" style="border-radius: 10px;overflow: hidden;width: fit-content;">
                                                                    <a style="color: white; width: auto;">
                                                                        <form action="{% url 'event_delete' event.pk %}" method="post">
                                                                            {% csrf_token %}
                                                                            <!-- <input type="submit" value="Delete"> -->
                                                                            <button type="submit"
                                                                                style="background: none;padding: 0;border: none;outline: none; color: white;">Delete</button>
                                                                        </form>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="pagination">
                                                    <ul>
                                                        {% if events.has_previous %}
                                                        <li><a href="?page=1">&laquo; first</a></li>
                                                        <li><a href="?page={{ events.previous_page_number }}">previous</li>
                                                        {% endif %}

                                                        <li class="active" ><a href="#"><span>Page {{ events.number }} of {{ events.paginator.num_pages }}</span></a></li>
                                                        
                                                        {% if events.has_next %}
                                                        <li ><a href="?page={{ events.next_page_number }}">next</a></li>
                                                        <li><a href="?page={{ events.paginator.num_pages }}">last &raquo;</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id='tabs-2'>
                                <div class="shows-events-schedule">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="section-heading">
                                                    <h2>Comment Listing</h2>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <ul>
                                                    {% for comment in comments %}
                                                    {% if not comment.status %}
                                                    <li class="col-lg-12" style="border-radius: 20px;">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="title">
                                                                    <h4>{{comment.event}}</h4>
                                                                    <span>{{comment.text}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                {% if comment.image %}
                                                                <img style="width: 63%;" src="{{comment.image.url}}" alt="">
                                                                {% else %}
                                                                <p>No image</p>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-lg-3">
                                                                {% if comment.video %}
                                                                <video style="width: 63%;" src="{{comment.video.url}}"></video>
                                                                {% else %}
                                                                <p>No video</p>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-lg-1">
                                                                <div class="main-dark-button" style="border-radius: 10px 0 0 10px;overflow: hidden;width: fit-content;">
                                                                    <a style="color: white; width: auto;">
                                                                        <form action="{% url 'comment_update' comment.pk %}" method="post">
                                                                            {% csrf_token %}
                                                                            <!-- <input type="submit" value="Delete"> -->
                                                                            <button type="submit"
                                                                                style="background: none;padding: 0;border: none; color: white;">Approve</button>
                                                                        </form>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-1">
                                                                <div class="main-dark-button" style="border-radius: 0 10px 10px 0;overflow: hidden;width: fit-content;">
                                                                    <a style="color: white; width: auto;">
                                                                        <form action="{% url 'comment_delete' comment.id %}" method="post">
                                                                            {% csrf_token %}
                                                                            <!-- <input type="submit" value="Delete"> -->
                                                                            <button type="submit"
                                                                                style="background: none;padding: 0;border: none; color: white;">Delete</button>
                                                                        </form>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="pagination">
                                                    <ul>
                                                        {% if comments.has_previous %}
                                                        <li><a href="?cpage=1">&laquo; first</a></li>
                                                        <li><a href="?cpage={{ comments.previous_page_number }}">previous</li>
                                                        {% endif %}

                                                        <li class="active" ><a href="#"><span>Page {{ comments.number }} of {{ comments.paginator.num_pages }}</span></a></li>
                                                        
                                                        {% if comments.has_next %}
                                                        <li ><a href="?cpage={{ comments.next_page_number }}">next</a></li>
                                                        <li><a href="?cpage={{ comments.paginator.num_pages }}">last &raquo;</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-12">
                                                <div class="pagination">
                                                    <ul>
                                                        <li><a href="#">Prev</a></li>
                                                        <li><a href="#">1</a></li>
                                                        <li class="active"><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">Next</a></li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    // Hide the alert after 3 seconds
    setTimeout(function () {
        var alertMessage = document.getElementById('alert-message');
        if (alertMessage) {
            alertMessage.style.display = 'none';
        }
    }, 3000); // 3000 ms = 3 seconds
</script>
{% endblock content %}