{% extends 'base/base.html' %}
{% block title %}Home{% endblock title %}
{% load custom_filters %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success mb-0" role="alert" id="alert-message">
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}

<!-- Carousel Container -->
<div class="carousel">
    <div class="slides">
        {% for image in images %}
        <div class="slide">
            <img src="{{image.image.url}}" alt="Banner 1" height="500px">
        </div>
        {% endfor %}
    </div>
    <!-- Navigation Buttons -->
    <button class="btn prev">❮</button>
    <button class="btn next">❯</button>
</div>

<!-- <div class="page-heading-about">

    <div class="container">
        <div class="row">
            <div class="col-lg-12"
                style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <h2>{{ event.name|short10 }}</h2>
                <div class="shortcuts">
                    <ul>
                        <li><a href="#DescSection">Info</a></li>
                        <li><a href="#MediaSection">Media</a></li>
                        <li><a href="#ScheduleSection">Schedule</a></li>
                        <li><a href="#MapSection">Map</a></li>
                    </ul>
                </div>
                <span class="datetime" style="display: none;">{{ event.start_date }} - {{ event.start_time }} </span>
                <span id="timmer">{{ event.end_date }} - {{ event.end_time }} </span>
                <span> {{ event.place_info }}</span>
            </div>
        </div>
    </div>
</div> -->

<!-- {% if images|length == 1 %}
<div class="about-item">
    <div class="container" style="display: flex;">
        <div class="col-lg-6" style="margin: auto;">
            <div class="left-image">
                <div class="about-map-image">
                    {% for image in images %}
                    <img src="{{image.image.url}}" alt="party time" style="border-radius: 20px;">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="show-events-carousel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-show-events owl-carousel">
                    {% for image in images %}
                    <div class="item">
                        <img src="{{ image.image.url }}" alt="Image for {{ event.name }}">
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} -->

<div id="DescSection" class="about-upcoming-shows">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <span class="datetime">{{ event.start_date }} - {{ event.start_time }} </span><br>
                <span id="timmer">{{ event.end_date }} - {{ event.end_time }} </span>
                <h2>{{ event.name }}</h2>
                <input type="checkbox" name="desc_toggle" id="desc_toggle">
                <p id="desc_para"> {{ event.description | linebreaksbr }}</p>
                <label for="desc_toggle"><a></a></label>
                <div class="user_sec">
                    <div class="user_content">
                        <img src="{% static 'EMS/images/default.png' %}" alt="">
                        <h5>by {{event.user}},</h5>
                    </div>
                    <div class="login_btn">
                        <form class="form-inline ml-3" action="{% url 'search-event' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" name="search" type="hidden"
                                    value="{{ event.user }}" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button
                                        style="background: transparent;border: none;outline: none; padding: 5px 15px !important;"
                                        type="submit">
                                        <a style="color: white;border-radius: 9px;overflow: hidden;">All Events</a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <h4>Instructions</h4> -->
                <br>
                <ul>
                    <input type="checkbox" name="instr_toggle" id="instr_toggle">
                    <p id="instr_para">{{ event.instructions | linebreaksbr }}</p>
                    <label for="instr_toggle"><a></a></label>

                </ul>
                {% for detail in event.details.all %}
                <h4>{{detail.title}}</h4>
                <br>
                <p>{{ detail.description | linebreaksbr }}</p>
                {% endfor %}
            </div>
            <div class="col-lg-3">
                <div class="next-shows">
                    <h4><i class="fa fa-map-marker"></i> Location </h4>
                    <ul>
                        <li>
                            {{ event.place_info }}
                        </li>
                    </ul>

                </div>
                <br>
                <div class="next-shows">
                    <h4><i class="fa fa-ticket"></i> Link </h4>
                    <div class="down-content">
                        <span> Event Ticket Link</span> <br> <br>
                        <div class="main-dark-button">
                            <a href="{{event.link}}" style="color: white;border-radius: 9px;overflow: hidden;"
                                target="_blank">Click for ticket </a>
                            <!-- <form class="form-inline ml-3" action="{% url 'search-event' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-navbar" name="search" type="hidden"
                                        value="{{ event.user }}" placeholder="Search" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-navbar" type="submit">
                                            <a style="color: white;border-radius: 9px;overflow: hidden;">All Events by
                                                {{ event.user }}</a>
                                        </button>
                                    </div>
                                </div>
                            </form> -->
                        </div>
                    </div>
                </div>
                <br>
                <div class="next-shows">
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 20px;"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M440.7 182.1l7.1-40c1.3-7.4-4.3-14.1-11.8-14.1h-74.8l14.6-81.9C377.1 38.8 371.5 32 364 32h-40.6a12 12 0 0 0 -11.8 9.9L296.2 128H197.5l14.6-81.9C213.5 38.8 207.8 32 200.4 32h-40.6a12 12 0 0 0 -11.8 9.9L132.5 128H53.4a12 12 0 0 0 -11.8 9.9l-7.1 40C33.2 185.2 38.8 192 46.3 192h74.8L98.2 320H19.1a12 12 0 0 0 -11.8 9.9l-7.1 40C-1.1 377.2 4.5 384 12 384h74.8L72.2 465.9C70.9 473.2 76.5 480 84 480h40.6a12 12 0 0 0 11.8-9.9L151.8 384h98.6l-14.6 81.9C234.5 473.2 240.2 480 247.7 480h40.6a12 12 0 0 0 11.8-9.9L315.5 384h79.1a12 12 0 0 0 11.8-9.9l7.1-40c1.3-7.4-4.3-14.1-11.8-14.1h-74.8l22.9-128h79.1a12 12 0 0 0 11.8-9.9zM261.9 320h-98.6l22.9-128h98.6l-22.9 128z"/>
                    </svg> HashTags </h4>
                    <div class="down-content">
                            {% for tags in hashtags%}
                            <a class="outline_login_btn" style="color: white;border-radius: 9px;overflow: hidden; margin: 5px 2px;"
                                target="_blank">#{{tags}} </a>
                            {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="also-like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>You Might Also Like...</h2>
            </div>

            {% for event in event_related %}
            <div class="col-lg-4">
                <div class="like-item" style="border-radius: 20px;overflow: hidden;">
                    <div class="thumb">
                        <a href="{%url 'event_detail' event.id %}"><img src="{{ event.image.url }}" alt=""></a>
                        <div class="icons">
                            <ul>
                                <li><a href="{%url 'event_detail' event.id %}"><i class="fa fa-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="down-content">
                        <span>{{ event.start_date }}</span>
                        <a href="{%url 'event_detail' event.id %}">
                            <h4>{{ event.name }}</h4>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div> -->




<div class="canva_showing" id="canva">
    <div class="canva_body">
        <div class="close" id="close_canva">
            <i class="fa fa-times"></i>
        </div>
        <div class="canva_frame">
            <!-- <iframe id="canva_frame" src="#" frameborder="0" width="100%" height="100%"></iframe> -->
            <img id="canva_frame" src="#" width="100%" height="100%" alt="">
        </div>
    </div>
</div>


<!-- End SHOING PAGE -->
{% if event.sitting_plan %}
<div id="MapSection" class="also-like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Seating Plan</h2>
            </div>

            {% for sitting_plan in sitting_plans %}
            <div class="col-lg-4">
                <div class="like-item sitting_plan">
                    <div class="thumb">
                        <img src="{{sitting_plan.image.url}}" alt="">
                        <div class="icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}

{% if event.schedule_plan %}
<div id="ScheduleSection" class="also-like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Schedule Plan</h2>
            </div>

            {% for schedule_plan in schedule_plans %}
            <div class="col-lg-4">
                <div class="like-item schedule_plan">
                    <div class="thumb">
                        <img src="{{schedule_plan.image.url}}" alt="">
                        <div class="icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>
</div>

{% endif %}



<div class="media_canva_showing" id="media_canva">
    <div class="media_canva_body">
        <div class="close" id="close_media_canva" style="z-index: 100;">
            <i class="fa fa-times"></i>
        </div>
        <div class="also-like" style="background: transparent;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="margin-bottom: 20px;">
                        <div class="like-item" id="media_like">
                            <div class="thumb" id="canva_thumb">
                                <!-- <div class="icons">
                                    <ul>
                                        <li><a onclick="likeComment('{{ comment.id }}')"><i class="fa fa-thumbs-up"></i>
                                                <span id="like-count-{{ comment.id }}">{{ comment.like_count }}</span>
                                            </a>
                                        </li>
                                        <li><a onclick="heartComment('{{ comment.id }}')"><i class="fa fa-heart"></i>
                                                <span id="heart-count-{{ comment.id }}">{{ comment.heart_count }}</span>
                                            </a>
                                        </li>
                                        <li> &nbsp; &nbsp;
                                        </li>
                                        <li><a href="{% url 'download_file' event.image.name|replace_slash  %}"><i
                                                    class="fa fa-download"></i></a>
                                        </li>
                                    </ul>
                                </div> -->

                            </div>
                            <div class="down-content">
                                <span id="media_cont_span"> </span>
                                <p id="media_cont_p"> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div id="MediaSection" class="also-like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Media... <a href="#CommentMediaSection"><i style="color: #40d621;"
                            class="fa fa-plus-circle"></i></a>
                </h2>
            </div>
            <div class="media_grid">


                {% for comment in comments %}
                {% if comment.image %}
                <div class="col-xl-auto">
                    <div class="like-item">
                        <div class="thumb" style="
                        width: 300px;
                        height: 300px;
                    ">
                            <img src="{{ comment.image.url }}" alt="Comment image">
                            <div class="icons">
                                <ul>
                                    <li><a onclick="likeComment('{{ comment.id }}')"><i class="fa fa-thumbs-up"></i>
                                            <span id="like-count-{{ comment.id }}">{{ comment.like_count }}</span> </a>
                                    </li>
                                    <li><a onclick="heartComment('{{ comment.id }}')"><i class="fa fa-heart"></i>
                                            <span id="heart-count-{{ comment.id }}">{{ comment.heart_count }}</span>
                                        </a>
                                    </li>
                                    <li> &nbsp; &nbsp;
                                    </li>
                                    <li><a href="{% url 'download_file' event.image.name|replace_slash  %}"><i
                                                class="fa fa-download"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="down-content" style="display: none;">
                            <span>Posted on: {{ comment.created_at }}</span>
                            <p><strong>{{ comment.name }}:<br></strong>{{ comment.text }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {% for comment in comments %}
                {% if comment.video %}
                <div class="col-xl-auto">
                    <div class="like-item">
                        <div class="thumb" style="
                        width: 300px;
                        height: 300px;
                    ">
                            <video src="{{ comment.video.url }}" alt="Comment image">
                                <div class="icons">
                                    <ul>
                                        <li><a onclick="likeComment('{{ comment.id }}')"><i class="fa fa-thumbs-up"></i>
                                                <span id="like-count-{{ comment.id }}">{{ comment.like_count }}</span>
                                            </a>
                                        </li>
                                        <li><a onclick="heartComment('{{ comment.id }}')"><i class="fa fa-heart"></i>
                                                <span id="heart-count-{{ comment.id }}">{{ comment.heart_count }}</span>
                                            </a>
                                        </li>
                                        <li> &nbsp; &nbsp;
                                        </li>
                                        <li><a href="{% url 'download_file' event.image.name|replace_slash  %}"><i
                                                    class="fa fa-download"></i></a>
                                        </li>
                                    </ul>
                                </div>

                        </div>
                        <div class="down-content" style="display: none;">
                            <span>Posted on: {{ comment.created_at }}</span>
                            <p><strong>{{ comment.name }}:<br></strong>{{ comment.text }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</div>



{% if event.sponsorsWithLink.all or event.sponsorsWithImage.all or event.sponsorsWithName.all %}

<div id="SponsorSection" class="also-like">
    <div class="container">
        <h2>Sponsors... 
        </h2>
        {% if event.sponsorsWithLink.all %}
        <div class="row">
            <div class="col-lg-12">
                
                <h3>Tier 1...</h3>
            </div>
            
            <div class="media_grid">

                {% for sponsors in event.sponsorsWithLink.all %}
                
                <div class="col-xl-auto">
                    <div class="like-item" id="media_like">
                        <div class="thumb" id="canva_thumb">
                            <img src="{{ sponsors.logo.url }}" alt="Comment image">
                        </div>
                        <div class="down-content">
                            <span id="media_cont_span">Sponser Link</span>
                            <p id="media_cont_p"> {{sponsors.link}}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if event.sponsorsWithImage.all %}
        <div class="row">
            <div class="col-xl-auto">
                <h2>Sponsors... 
                </h2>
                <h3>Tier 2...</h3>
            </div>
            
            <div class="media_grid">

                {% for sponsors in event.sponsorsWithImage.all %}
                
                <div class="col-xl-auto">
                    <div class="like-item" id="media_like">
                        <div class="thumb" id="canva_thumb">
                            <img src="{{ sponsors.logo.url }}" alt="Comment image">
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if event.sponsorsWithName.all %}
        <div class="row">
            <div class="col-lg-12">
                <h3>Tier 3...</h3>
            </div>
            
            <div class="media_grid">

                {% for sponsors in event.sponsorsWithName.all %}
                
                <div class="col-xl-auto">
                    <div class="like-item" id="media_like">
                        <div class="thumb" id="canva_thumb">
                        </div>
                        <div class="down-content">
                            <span id="media_cont_span">Sponser Name</span>
                            <p id="media_cont_p"> {{sponsors.name}}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% if showComment %}
<div class="also-like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Greatings board... <a href="#CommentSection"><i style="color: #40d621;"
                            class="fa fa-plus-circle"></i></a></h2>
            </div>

            {% for comment in comments %}
            {% if not comment.image %}
            {% if not comment.video %}
            <div class="col-lg-4">
                <div class="like-item">
                    <div class="down-content">
                        <span>Posted on: {{ comment.created_at }}</span>
                        <p><strong>{{ comment.name }}:<br></strong>{{ comment.text }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
            {% empty %}
            <p>No greatings yet.</p>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}



<div id="CommentMediaSection" class="rent-venue-application">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-text">
                    <h4>Add a Media...</h4>
                </div>
                <div class="contact-form">
                    <form method="post" id="contact" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    {{ form.email }}
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    {{ form.name }}
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <label for="{{ form.image.id_for_label }}"> {{ form.image.label }} </label>
                                    {{ form.image }}
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <label for="{{ form.video.id_for_label }}"> {{ form.video.label }} </label>
                                    {{ form.video }}
                                    {% if form.video.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.video.errors %}
                                        <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    {{ form.text }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button">Submit
                                        Comment</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% if not showComment %}

<div id="CommentSection" class="rent-venue-application">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-text">
                    <h4>Feedback...</h4>
                </div>
                <div class="contact-form">
                    <form method="post" id="contact" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    {{ form.email }}
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    {{ form.name }}
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset>
                                    {{ form.text }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button">Submit
                                        Comment</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if showComment %}

<div id="CommentSection" class="rent-venue-application">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-text">
                    <h4>Add a Greating...</h4>
                </div>
                <div class="contact-form">
                    <form method="post" id="contact" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    {{ form.email }}
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    {{ form.name }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    {{ form.text }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button">Submit
                                        Comment</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- <h2></h2>
    <div>
        {% for comment in comments %}
        <div>
            <p><strong>{{ comment.user.username }}:</strong> {{ comment.text }}</p>
            {% if comment.image %}
            <img src="{{ comment.image.url }}" alt="Comment image">
            {% endif %}
            <p>Email: {{ comment.email }}</p>
            <p>Posted on: {{ comment.created_at }}</p>
        </div>
        {% empty %}
        <p>No comments yet.</p>
        {% endfor %}
    </div> -->



<script>

    let data = document.getElementsByClassName("datetime")[0];


    let sdatetime = (data.innerHTML.split('<span')[0].split("-"))

    targetDateString = (sdatetime[0] + sdatetime[1]).replace("  ", " ").replace("p.m.", "PM").replace("a.m.", "AM")
    const targetDate1 = new Date(targetDateString);

    // Get the current date and time
    const currentDate = new Date();

    if (currentDate >= targetDate1) {
        let data = document.getElementById("timmer");
        let edatetime = (data.innerHTML.split('<span')[0].split("-")[0] + data.innerHTML.split('<span')[0].split("-")[1]).replace("  ", " ").replace("p.m.", "PM").replace("a.m.", "AM")
        console.log("The date and time have been reached.");
        const targetDate = new Date(edatetime);
        console.log("target" + targetDate)
        function startCountdown() {
            const timerElement = document.getElementById("timmer");
            const messageElement = document.getElementById("message");

            const countdownInterval = setInterval(() => {
                const currentDate = new Date();
                const distance = targetDate - currentDate;

                // Calculate days, hours, minutes, and seconds
                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the timer element
                timerElement.innerHTML = `Ends in ${days}d ${hours}h ${minutes}m ${seconds}s`;

                // If the countdown is finished, display a message
                if (distance < 0) {
                    clearInterval(countdownInterval);
                    timerElement.innerHTML = "EXPIRED";
                    messageElement.innerHTML = "The date and time have been reached.";
                }
            }, 1000); // Update every second
        }

        // Start the countdown when the window loads
        window.onload = startCountdown;
    } else {
        // console.log("The date and time have not been reached yet.");
    }


</script>

<script>
    function convertDateToISO(inputDate, year = new Date().getFullYear()) {
        // Remove the period after the month abbreviation, if any
        const cleanedDate = inputDate.replace('.', '');

        // Parse the cleaned date with the specified year
        const parsedDate = new Date(`${cleanedDate}, ${year}`);

        // Format it as YYYY-MM-DD
        const yearPart = parsedDate.getFullYear();
        const monthPart = String(parsedDate.getMonth() + 1).padStart(2, '0'); // Months are 0-indexed
        const dayPart = String(parsedDate.getDate()).padStart(2, '0');

        return `${yearPart}-${monthPart}-${dayPart}`;
    }
    function timeDifferenceFromNow(inputDate) {
        const currentDate = new Date();
        const parsedDate = new Date(inputDate);


        // Calculate the difference in milliseconds
        const differenceInMilliseconds = parsedDate - currentDate;

        let comment_media_section = document.getElementById("CommentMediaSection");
        let comment_section = document.getElementById("CommentSection");
        comment_media_section.style.display = "none";
        comment_section.style.display = "none";

        // If the date is in the past
        // console.log("hnn hnn bhiya yaha uper")
        if (differenceInMilliseconds < 0) {
            // console.log("hnn hnn bhiya")
            comment_media_section.style.display = "block";
            comment_section.style.display = "block";
            return "The date has already passed.";
        }

        // Format the date as "Nov. 23,"
        const options = { month: 'short', day: 'numeric' };
        const formattedDate = parsedDate.toLocaleDateString('en-US', options).replace('.', '');

        // Convert milliseconds to days
        const differenceInDays = Math.ceil(differenceInMilliseconds / (1000 * 60 * 60 * 24));

        // Calculate weeks and months approximately
        const differenceInWeeks = Math.ceil(differenceInDays / 7);
        const differenceInMonths = Math.ceil(differenceInDays / 30);


        if (differenceInDays === 1) {
            // return `${formattedDate} is 1 day later`;
            comment_media_section.style.display = "block";
            comment_section.style.display = "block";
            return `1 day later`;
        } else if (differenceInDays < 7) {
            // return `${formattedDate} is ${differenceInDays} days later`;
            return `${differenceInDays} days later`;
        } else if (differenceInWeeks === 1) {
            // return `${formattedDate} is 1 week later`;
            return `1 week later`;
        } else if (differenceInWeeks < 4) {
            // return `${formattedDate} is ${differenceInWeeks} weeks later`;
            return `${differenceInWeeks} weeks later`;
        } else if (differenceInMonths === 1) {
            // return `${formattedDate} is 1 month later`;
            return `1 month later`;
        } else {
            // return `${formattedDate} is ${differenceInMonths} months later`;
            return `${differenceInMonths} months later`;
        }
    }
    
    let dates_field = document.getElementsByClassName("datetime")[0]
    event_date = (dates_field.innerHTML.split(',')[0])
    timeDifferenceFromNow(convertDateToISO(event_date));

    function likeComment(commentId) {
        fetch(`/like_comment/${commentId}/`)
            .then(response => response.json())
            .then(data => {
                // console.log("like"+document.querySelector(`#like-count-${commentId}`))
                document.querySelector(`#like-count-${commentId}`).innerText = `${data.like_count}`;
            });
    }

    function heartComment(commentId) {
        fetch(`/heart_comment/${commentId}/`)
            .then(response => response.json())
            .then(data => {
                document.querySelector(`#heart-count-${commentId}`).innerText = `${data.heart_count}`;
            });
    }
</script>



<script>
    // Hide the alert after 3 seconds
    setTimeout(function () {
        var alertMessage = document.getElementById('alert-message');
        if (alertMessage) {
            alertMessage.style.display = 'none';
        }
    }, 3000); // 3000 ms = 3 seconds
</script>
{% endblock content %}