{% extends 'base/base.html' %}
{% block title %}Home{% endblock title %}
{% load static %}
{% load custom_filters %}
{% block content %}
<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner">
    
    <div class="container" style="top: -150px; position: relative;">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <h4 style="color: white;">Your Event, Your Invitation, Your Way!</h4>
                    <h2>Create. Celebrate...</h2>
                    <div class="main-white-button">
                        <a href="{% url 'event_create' %}">Create Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- *** Owl Carousel Items ***-->
<div class="show-events-carousel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-show-events owl-carousel">
                    {% for event in events %}
                    <div class="item">
                        <a href="{% url 'event_detail' event.id %}"><img src="{{ event.image.url }}" alt="{{event.name}}"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- *** Amazing Venus ***-->
<div class="amazing-venues">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="left-content">
                    <h4>Three Amazing Venues for events</h4>
                    <p>ArtXibition Event Template is brought to you by Tooplate website and it included total 7 HTML
                        pages.
                        These are <a href="index.html">Homepage</a>, <a href="about.html">About</a>,
                        <a href="rent-venue.html">Rent a venue</a>, <a href="shows-events.html">shows &amp; events</a>,
                        <a href="event-details.html">event details</a>, <a href="tickets.html">tickets</a>, and <a
                            href="ticket-details.html">ticket details</a>.
                        You can feel free to modify any page as you like. If you have any question, please visit our <a
                            href="https://www.tooplate.com/contact" target="_blank">Contact page</a>.
                    </p>
                    <br>
                    <p>You can use this event template for your commercial or business website. You are not permitted to
                        redistribute this template ZIP file on any template download website. If you need the latest
                        HTML templates, you may visit <a href="https://www.toocss.com/" target="_blank">Too CSS</a>
                        website that features a great collection of templates in different categories.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-content">
                    <h5><i class="fa fa-map-marker"></i> Visit Us</h5>
                    <span>5 College St NW, <br>Norcross, GA 30071<br>United States</span>
                    <div class="text-button"><a href="show-events-details.html">Need Directions? <i
                                class="fa fa-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- *** Map ***-->
<div class="map-image">
    <img src="{% static 'EMS/images/map-image.jpg' %}" alt="Maps of 3 Venues">
</div>



<!-- *** Venues & Tickets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row" style="width: 90%;margin: auto;">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Venues & Tickets</h2>
                </div>
            </div>

            {% for event in events %}
            <div class="col-lg-3">
                <div class="venue-item" style="border-radius: 9px; overflow: hidden;">
                    <div class="thumb">
                        <img src="{{ event.image.url }}" alt="">
                    </div>
                    <div class="down-content" style="border-radius: 0 0 9px 9px; overflow: hidden;height: 238px;">
                        <div class="right-content">
                            <h4>{{event.name|name_shorter}}</h4>
                            <p >{{event.description|desc_shorter}}</p>
                            <!-- <ul>
                                <li><i class="fa fa-sitemap"></i>250</li>
                                <li><i class="fa fa-user"></i>500</li>
                            </ul> -->
                            <div class="main-white-button" style="margin: 20px 0;position: absolute;bottom: 0;">
                                <a href="{% url 'event_detail' event.id %}">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>


<!-- *** Coming Events ***-->
<div class="coming-events">
    <div class="left-button">
        <div class="main-white-button">
            <a href="{% url 'event_show' %}">Discover More</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for event in events_detail %}
            <div class="col-lg-3">
                <div class="event-item">
                    <div class="thumb">
                        <a href="{% url 'event_detail' event.id %}"><img src="{{ event.image.url }}" alt=""></a>
                    </div>
                    <div class="down-content">
                        <a href="{% url 'event_detail' event.id %}">
                            <h4>{{event.name|name_shorter}}</h4>
                        </a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> {{event.start_date}} - {{event.start_time}}</li>
                            <li><i class="fa fa-map-marker"></i> {{event.venue}}, {{event.place_info}}</li>
                        </ul>
                    </div>
                </div>
            </div>
           
            {% endfor %}
        </div>
    </div>
</div>

<!-- 
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Find The Private Events : </h4>
            </div>
            <div class="col-lg-8">
                <form id="subscribe" action="{% url 'search_private_event' %}" method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">
                            <fieldset>
                                <input id="email" name="search"
                                type="search" placeholder="Search" aria-label="Search">
                            </fieldset>
                        </div>
                        <div class="col-lg-3">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button">Search</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 -->


{% endblock content %}